// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$event-attend-color: #ed8c0d;
$event-edit-color: #e42821;

.nav-tabs a {
  color: #666;
}

.tab-pane textarea {
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

#markdown {
  margin-top: 10px;
}

.pagination {
  margin: 0 0 4px 0;
}

.center {
  text-align: center;
}

.no-padding-right {
  padding-right: 0;
}

a.list-group-item {
  padding: 10px 15px 4px 15px;
}

.form-item {
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.event-attend {
  background-color: $event-attend-color;
  border-color: $event-attend-color;
}

a.event-edit {
  background-color: $event-edit-color;
  border-color: $event-edit-color;
}

#eventAttendees {
  text-align: center;
  margin-right: 1em;

  .number {
    font-size: 32px;

    .event-attend {
      color: $event-attend-color;
    }
  }

  .unit {
    font-size: 14px;
  }
}

.button-group {
  a.btn, input.btn {
    margin-right: 6px;
  }
}

.image-spacer {
  height: 14px;
}

#members {
  margin-bottom: 8px;

  span.label {
    margin-right: 6px;
  }

  button.item-close {
    float: none;
    font-size: 16px;
    margin-left: 4px;

    :hover {
      color: red;
    }
  }
}

.panel-heading .btn {
  margin-top: -7px;
}

.panel-event {
  line-height: 200%;

  input, button {
    line-height: 100%;
    margin-bottom: 6px;
  }

  .description {
    margin-top: 6px;
    line-height: 140%;
  }
}

.description p {
  margin-bottom: 0;
}

.event-title {
  color: #333333;
  font-size: 30px;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 8px;
}

#eventFormDateTime, #eventFormDeadline {
  margin-right: 6px;
}

#calendar {
  height: 100%;
}

.event-image-area {
  position: relative;
}

.checkbox-remove-image {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 14px;
}
